
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi</h1>
<p>
  You exceeded your critical amount on your account.<br>
</p>
<p>
  <%= "Your actual sum on your account is #{@account.sum}." %><br>
</p>
</body>
</html>