<tr>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= "Inputs: #{category.total_incomes(@start_date, @end_date)}, Outputs: #{category.total_outcomes(@start_date, @end_date)}" %>
  </td>
  <td>
    <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default' %>
  </td>
</tr>
