<tr>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= "Incomes: #{category.total_incomes(@start_date, @end_date)}, Outcomes: #{category.total_outcomes(@start_date, @end_date)}" %>
  </td>
  <td>
    <%= link_to 'Edit', edit_category_path(category) %>
  </td>
</tr>
