<h1>
  <%= "Transactions on account #{@account.name}" %>
</h1>
<p>
  <%= link_to 'Add new transaction', new_account_transaction_path %>
</p>

<table class="table">
  <tr>
    <th>User name</th>
    <th>Created at</th>
    <th>Purpose</th>
    <th>Sum</th>
    <th>Category</th>
  </tr>
  <%= render @transactions %>
</table>