<tr>
  <td>
    <%= account.name %>
  </td>
  <td>
    <%= account.critical_amount %>
  </td>
  <td>
    <%= account.send_notifications %>
  </td>
  <td>
    <%= link_to 'Edit', edit_account_path(account) %>
  </td>
</tr>
